body {
    font-family: Arial, sans-serif;
    background-color: #ffe4e1; /* light pink background color */
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcccc; /* light red background color */
    padding: 20px;
}

.logo img {
    height: 50px;
}

.header-title h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
}

.home-button button,
.details-button button {
    background-color: #ff0000; /* green background color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.home-button button:hover,
.details-button button:hover {
    background-color: #0b47e0;
}

main {
    margin: 20px;
}

.test-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Spacing between cards */
}

.test-card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.test-card h2 {
    font-size: 18px;
    color: #333;
    margin-bottom: 20px;
}

.test-card button {
    background-color: #179e25; /* green background color */
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.test-card button:hover {
    background-color: #45a049;
}

.test-card.blue {
    border-top: 5px solid #2196f3; /* blue border */
}

.test-card.purple {
    border-top: 5px solid #9c27b0; /* purple border */
}

.test-card.red {
    border-top: 5px solid #f44336; /* red border */
}

.test-card.yellow {
    border-top: 5px solid #ffff00; 
}

div.navbar-logo img {
    transition: transform 0.5s ease;
}

div.navbar-logo img:hover {
    transform: rotate(360deg);
}
